body {
	background-color: rgb(0, 0, 0);
}
.app-container {
	width: 80%;
	margin: 0 auto;
}
.gif-header input {
	width: 100%;
	padding: 20px;
	border: none;
	margin: 10px 0px;
	color: #444;
	box-sizing: border-box;
	border-radius: 0px;
}
.gif-container {
	margin: 0 auto;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
}
.gif-container .gif-box {
	cursor: pointer;
	width: 20%;
	height: 300px;
	border: solid 2px #000;
	box-sizing: border-box;
}
@media (max-width: 1000px) {
	.gif-container .gif-box {
		height: 250px;
		width: 33.33333%;
	}
	.app-container {
		width: calc(100% - 30px);
	}
}
@media (max-width: 700px) {
	.gif-container .gif-box {
		height: 200px;
		width: 50%;
	}
}
@media (max-width: 500px) {
	.gif-container .gif-box {
		height: 150px;
		width: 100%;
	}
}

.gif-container .gif-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gif-container .gif-box:hover {
	opacity: 0.5;
}
